body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #298bc8;
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead th {
  background-color: #298bc8;;
  color: white;
  padding: 12px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 600px) {

  table th, td{
    padding: 3px;
    font-size: 10px;
  }
}
@media screen and (max-width: 384px) {
    table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody td {
    padding: 10px;
    border: none;
    position: relative;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #c0392b;
  }
}