body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 20px;
  color: #2e2e42;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #1e2a78;
  color: white;
  padding: 12px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f0f4ff;
}

@media screen and (max-width: 600px) {
  h2{
    margin-bottom: 10px;
    font-size: 16px;
  }
  table th, td{
    padding: 2px;
    font-size: 9px;
  }
}

@media screen and (max-width: 300px) {
    table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }
    tbody td {
    padding: 10px;
    border: none;
    position: relative;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #1e2a78;
  }
}